<?xml version="1.0" encoding="utf-8"?>
<settings>
    <!-- Default cycle settings -->
    <cycle countdown="25s" />

    <!-- Server environment type -->
    <!-- Values: `development`, `production` -->
    <environment type="development">
        <event-debug>true</event-debug>
    </environment>

    <!-- Default world spawn position -->
    <spawn x="0.5" y="64" z="0.5" />

    <!-- Server settings -->
    <server name="The server" />

    <!-- Directory where played maps will be stored -->
    <!-- This overrides Bukkit's `world-container` in the `bukkit.yml` file. -->
    <world-container>./worlds</world-container>

    <!-- Default map queue -->
    <queue restart-after="15">
        <map>Unknown map</map>
        <map directory="Second unknown map" />
    </queue>

    <!-- Disabled modules -->
    <ignored-modules>
        <module>example</module>
    </ignored-modules>

    <!-- Global module settings -->
    <modules>
        <archive>
            <directory>./archive</directory>
        </archive>

        <channels />

        <map-loader>
            <directory path="./maps">
                <exclude>_ignored</exclude>
            </directory>
        </map-loader>

        <match>
            <auto-start>true</auto-start>
            <observers name="Observers" color="aqua" dye-color="light blue" />
            <start-countdown>25s</start-countdown>
        </match>
    </modules>
</settings>
